/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: 'Italianno', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
}
$icon-size: 3%;

