<div class="row text-center">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a class="link-category" (click)="goToRecipes('aves')">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <img src="{{ _url }}assets/img/svg/chicken.svg" class="category-icon" alt="carnes" title="carnes">
          <span>Aves</span>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a class="link-category" (click)="goToRecipes('carnes')">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <img src="{{ _url }}assets/img/svg/meat.svg" class="category-icon" alt="carnes" title="carnes">
          <span>Carnes</span>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a class="link-category" (click)="goToRecipes('peixes')">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <img src="{{ _url }}assets/img/svg/fish.svg" class="category-icon" alt="peixes" title="peixes">
          <span>Peixes</span>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a class="link-category" (click)="goToRecipes('vegetais')">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <img src="{{ _url }}assets/img/svg/vegetables.svg" class="category-icon" alt="legumes" title="legumes">
          <span>Vegetais</span>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a class="link-category" (click)="goToRecipes('massas')">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <img src="{{ _url }}assets/img/svg/pasta.svg" class="category-icon" alt="legumes" title="legumes">
          <span>Massas</span>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a class="link-category" (click)="goToRecipes('sopas')">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <img src="{{ _url }}assets/img/svg/soup.svg" class="category-icon" alt="legumes" title="legumes">
          <span>Sopas e Caldos</span>
        </div>
      </div>
    </a>
  </div>
</div>
