.category-icon {
  width: 25%;
}

.link-category {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  div.card > div.card-body > span {
    display: block;
    font-size: 2rem;
    font-weight: 500;
  }
  div.card:hover {
    background-color: rgb(255, 248, 187);
  }
}
